![udacity-banner](https://miro.medium.com/max/1400/1*XV1XQlk4lCYcm-ft5-gMtw.jpeg)
### Udacity Connect Session - Week 13 - Ask me anything
## Agenda

* [Project 3 checkups](#)
* [Interview Prepration](#)
* [4 Extra Connect Sessions - up to 16th November](#)
* [Q & A](#)
* [Project 3 - Datasets Review](#)

### Project 3 Checkups

### 4 Extra Connect Sessions - up to 16th November

- Extra Week 1 - Data Visualization, Project 2 Q & A
- Extra Week 2 - Project 2 Q & A
- Extra Week 3 - Project 3, Q & A
- Extra Week 4 - Project 3, Q & A

### [Q & A Form link](https://forms.gle/BAp53EQmCZSbjMCL6)

### Interview Prepararations

[What is impostor syndrome](https://www.verywellmind.com/imposter-syndrome-and-social-anxiety-disorder-4156469)

Impostor syndrome is an internal experience of believing that you are not as competent as others perceive you to be, as if you are a fraud. Despite being a "syndrome," it is not a diagnosable mental illness. Instead, the term is usually narrowly applied to intelligence and achievement, although it also has links to perfectionism and the social context.

To put it simply, imposter syndrome is the experience of feeling like a phony in some area of your life, despite any success that you have achieved in that area. Psychologists Suzanna Imes and Pauline Rose Clance first used this term in the 1970s.

[Overcoming Impostor Syndrome](https://hbr.org/2008/05/overcoming-imposter-syndrome)

Imposter syndrome can be defined as a collection of feelings of inadequacy that persist despite evident success. ‘Imposters’ suffer from chronic self-doubt and a sense of intellectual fraudulence that override any feelings of success or external proof of their competence. They seem unable to internalize their accomplishments, however successful they are in their field. High achieving, highly successful people often suffer, so imposter syndrome doesn’t equate with low self-esteem or a lack of self-confidence. In fact, some researchers have linked it with perfectionism, especially in women and among academics.

Where does it come from? Some researchers believe it has its roots in the labels parents attach to particular members of the family. For example, one child might be designated the ‘intelligent’ one and the other the ‘sensitive’ one. Another theory is that parents can programme the child with messages of superiority: the child is so fully supported that the parents and child believe that he or she is superior or perfect.


- Recognize the feeling
- Reprogramme your mind
- Talk about it
- Consider the real context or reality
- Seek support
- Visualize your own success

### Useful Interview Prep Links


[Big Interivew](https://biginterview.com/)

[Data Analyst Interview Questions](https://mindmajix.com/data-analyst-interview-questions)

[67 data analyst interview questions](https://www.testgorilla.com/blog/data-analyst-interview-questions/)

### [LinkedIn Post](https://www.linkedin.com/feed/update/urn:li:activity:6983753481169907712?utm_source=share&utm_medium=member_desktop![image.png](attachment:image.png)/)

### What Next?

- PowerBi
- Tableau
- Data Science
- Data Engineering
- R Programming

Tech training websites
- Coursera - https://www.coursera.org/
- Udemy - https://www.udemy.com/
- Pluralsight - https://www.pluralsight.com/product/skills/individuals
- Udacity Data Engineering - https://www.udacity.com/course/data-engineer-nanodegree--nd027
- Udacity Data Science - https://www.udacity.com/course/data-scientist-nanodegree--nd025

### Project 3 Datasets Review

In [7]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib as plt
%matplotlib inline

### Prosper Loan

In [5]:
prosper_loan = pd.read_csv('prosperLoanData.csv')
prosper_loan

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113932,E6D9357655724827169606C,753087,2013-04-14 05:55:02.663000000,NaN,36,Current,NaN,0.22354,0.1864,0.1764,...,-75.58,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
113933,E6DB353036033497292EE43,537216,2011-11-03 20:42:55.333000000,NaN,36,FinalPaymentInProgress,NaN,0.13220,0.1110,0.1010,...,-30.05,0.0,0.0,0.0,0.0,1.0,0,0,0.0,22
113934,E6E13596170052029692BB1,1069178,2013-12-13 05:49:12.703000000,NaN,60,Current,NaN,0.23984,0.2150,0.2050,...,-16.91,0.0,0.0,0.0,0.0,1.0,0,0,0.0,119
113935,E6EB3531504622671970D9E,539056,2011-11-14 13:18:26.597000000,NaN,60,Completed,2013-08-13 00:00:00,0.28408,0.2605,0.2505,...,-235.05,0.0,0.0,0.0,0.0,1.0,0,0,0.0,274
113936,E6ED3600409833199F711B7,1140093,2014-01-15 09:27:37.657000000,NaN,36,Current,NaN,0.13189,0.1039,0.0939,...,-1.70,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1

In [9]:
prosper_loan.sample(50)

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
73734,7AE933920755950484E5537,155182,2007-06-20 08:45:10.233000000,A,36,Completed,2010-07-08 00:00:00,0.11696,0.1100,0.1050,...,-40.48,0.00,0.00,0.00,0.0,1.0,0,0,0.0,107
70728,EF373542631030396CA139B,570692,2012-03-21 12:54:59.930000000,NaN,36,Chargedoff,2013-06-29 00:00:00,0.33553,0.2958,0.2858,...,-30.73,0.00,3219.89,3219.89,0.0,1.0,0,0,0.0,8
3593,4AAC35497680630461B8ADB,597854,2012-06-09 05:15:14.590000000,NaN,36,Current,NaN,0.35797,0.3177,0.3077,...,-26.45,0.00,0.00,0.00,0.0,1.0,0,0,0.0,8
52498,866C35833624998218BA319,822465,2013-06-27 09:21:07.293000000,NaN,36,Current,NaN,0.26528,0.2272,0.2172,...,-61.92,0.00,0.00,0.00,0.0,1.0,0,0,0.0,1
107367,731B3530264386579B730FB,536120,2011-10-28 10:43:42.090000000,NaN,36,Past Due (1-15 days),NaN,0.35244,0.3160,0.3060,...,-125.63,-297.15,0.00,0.00,0.0,1.0,0,0,0.0,130
32413,687F3585027865376497D5C,843409,2013-07-17 15:21:09.887000000,NaN,60,Current,NaN,0.18136,0.1579,0.1479,...,-85.40,0.00,0.00,0.00,0.0,1.0,0,0,0.0,1
11228,173534316462844640E64B2,400245,2008-09-18 05:32:11.753000000,AA,36,Completed,2009-02-24 00:00:00,0.11094,0.1040,0.0940,...,-57.08,0.00,0.00,0.00,0.0,1.0,0,0,0.0,741
45567,553135680392967308B95D2,698770,2013-01-12 16:10:29.580000000,NaN,60,Current,NaN,0.19313,0.1694,0.1594,...,-101.07,0.00,0.00,0.00,0.0,1.0,0,0,0.0,178
63701,C6743552440864342E8E70A,616685,2012-07-25 13:37:48.110000000,NaN,12,Completed,2013-05-10 00:00:00,0.13547,0.0981,0.0881,...,-12.15,0.00,0.00,0.00,0.0,1.0,0,0,0.0,36
87374,A6903587580496042CD333F,877321,2013-08-22 07:48:51.177000000,NaN,36,Current,NaN,0.13138,0.1034,0.0934,...,-39.89,0.00,0.00,0.00,0.0,1.0,0,0,0.0,157
75751,195633980633315182CD867,198174,2007-09-06 08:35:49.820000000,B,36,Completed,2010-09-20 00:00:00,0.13202,0.1250,0.1100,...,-131.02,0.00,0.00,0.00,0.0,1.0,0,0,0.0,179
36561,38EC356742825726409AE90,692475,2012-12-31 19:41:54.233000000,NaN,36,Current,NaN,0.30285,0.2639,0.2539,...,-16.29,0.00,0.00,0.00,0.0,1.0,0,0,0.0,29
75444,62D63385361530366BA50BA,121464,2007-04-10 08:17:09.170000000,C,36,Chargedoff,2009-08-20 00:00:00,0.11696,0.1100,0.1000,...,-41.68,0.00,1199.31,1199.31,0.0,1.0,1,0,0.0,31
94470,A0BA3392290886284C809BA,149610,2007-06-09 17:15:19.167000000,D,36,Chargedoff,2008-11-20 00:00:00,0.26762,0.2600,0.2500,...,-98.20,0.00,8234.69,8234.67,0.0,1.0,0,0,0.0,109
56757,5FF135537023205463F57BC,614839,2012-07-20 14:02:04.927000000,NaN,36,Current,NaN,0.20462,0.1679,0.1579,...,-312.39,0.00,0.00,0.00,0.0,1.0,0,0,0.0,481
50076,FA5F3596575124956D238CE,1017991,2013-11-29 17:12:04.843000000,NaN,36,Current,NaN,0.13189,0.1039,0.0939,...,-24.28,-55.17,0.00,0.00,0.0,1.0,0,0,0.0,1
76224,A3DE3548189468484286E24,595875,2012-06-04 09:13:33.940000000,NaN,60,Past Due (61-90 days),NaN,0.27554,0.2498,0.2398,...,-133.42,-645.48,0.00,0.00,0.0,1.0,0,0,0.0,47
6227,08D735982558949599444E0,1109766,2013-12-26 08:31:11.600000000,NaN,60,Current,NaN,0.27308,0.2474,0.2374,...,-16.10,0.00,0.00,0.00,0.0,1.0,0,0,0.0,1
23269,6B4B35879085919019E7C54,880888,2013-08-26 12:17:49.970000000,NaN,36,Current,NaN,0.25781,0.2199,0.2099,...,-19.04,0.00,0.00,0.00,0.0,1.0,0,0,0.0,14
77163,C57E353701210555378C100,551623,2012-01-15 13:12:41.433000000,NaN,36,Current,NaN,0.24246,0.2049,0.1949,...,-225.15,0.00,0.00,0.00,0.0,1.0,0,0,0.0,2
23319,B8693538264102380046A17,555844,2012-02-01 13:19:48.400000000,NaN,36,Completed,2012-08-08 00:00:00,0.06587,0.0625,0.0525,...,-17.44,0.00,0.00,0.00,0.0,1.0,0,0,0.0,78
45256,D50B33891271713334C68B6,142169,2007-05-23 21:10:49.453000000,E,36,Defaulted,2008-07-06 00:00:00,0.21480,0.2000,0.1700,...,-15.86,0.00,2109.65,2109.66,0.0,1.0,2,1,200.0,95
52242,9DEB35204700443441506BF,517517,2011-07-21 10:41:07.963000000,NaN,36,Completed,2012-04-16 00:00:00,0.12400,0.1029,0.0929,...,-43.32,0.00,0.00,0.00,0.0,1.0,0,0,0.0,129
35464,859D339653107450180CDCA,180887,2007-08-02 21:02:47.680000000,A,36,Completed,2008-11-17 00:00:00,0.13423,0.1272,0.1222,...,-89.32,0.00,0.00,0.00,0.0,1.0,0,0,0.0,408
12083,8E4435374913307860D9A37,553814,2012-01-24 05:36:12.563000000,NaN,60,Completed,2012-06-21 00:00:00,0.32680,0.2997,0.2897,...,-30.88,0.00,0.00,0.00,0.0,1.0,0,0,0.0,150
38857,B26A3576259052014C3096C,756962,2013-04-20 08:19:02.297000000,NaN,36,Current,NaN,0.28032,0.2419,0.2319,...,-30.31,0.00,0.00,0.00,0.0,1.0,0,0,0.0,65
6581,006E3513719583579DE3127,503413,2011-04-21 07:38:46.377000000,NaN,36,Completed,2012-03-02 00:00:00,0.17160,0.1499,0.1399,...,-15.49,0.00,0.00,0.00,0.0,1.0,0,0,0.0,55
81497,4DE13594148423335309BC8,995057,2013-11-04 07:13:51.770000000,NaN,36,Current,NaN,0.35356,0.3134,0.3034,...,-8.67,0.00,0.00,0.00,0.0,1.0,0,0,0.0,1
105125,D16E34293137776430377C8,379536,2008-08-07 17:03:32.560000000,C,36,Chargedoff,2009-02-21 00:00:00,0.15651,0.1350,0.1250,...,-3.31,0.00,3812.37,3812.37,0.0,1.0,0,0,0.0,156
89707,B7FB35173714706686BE2F4,509481,2011-06-01 21:33:24.350000000,NaN,60,Current,NaN,0.14657,0.1329,0.1229,...,-425.09,0.00,0.00,0.00,0.0,1.0,0,0,0.0,352
79862,57653554295371552B1038F,624713,2012-08-15 13:48:50.607000000,NaN,36,Current,NaN,0.08577,0.0724,0.0624,...,-202.28,0.00,0.00,0.00,0.0,1.0,0,0,0.0,220
3048,05AA3575569167193940384,741685,2013-04-01 05:42:43.950000000,NaN,60,Current,NaN,0.13942,0.1169,0.1069,...,-194.69,0.00,0.00,0.00,0.0,1.0,0,0,0.0,481
50121,E82A35374087421139F9023,551257,2012-01-13 10:09:21.403000000,NaN,60,Current,NaN,0.27246,0.2468,0.2368,...,-220.06,0.00,0.00,0.00,0.0,1.0,0,0,0.0,79
27661,2C013597421200912CAA660,1093344,2013-12-18 06:38:41.267000000,NaN,36,Current,NaN,0.32446,0.2850,0.2750,...,-3.37,0.00,0.00,0.00,0.0,1.0,0,0,0.0,1
108736,228C358525392858197C8E1,848566,2013-07-23 10:15:25.890000000,NaN,36,Current,NaN,0.25371,0.2159,0.2059,...,-82.95,0.00,0.00,0.00,0.0,1.0,0,0,0.0,1
76583,4FF63525083367576E740F2,525519,2011-09-02 18:02:17.353000000,NaN,36,Completed,2013-09-10 00:00:00,0.20200,0.1799,0.1699,...,-72.14,0.00,0.00,0.00,0.0,1.0,0,0,0.0,96
9124,91C834234184487019D8B62,354889,2008-06-21 17:00:59.377000000,A,36,Completed,2011-04-12 00:00:00,0.10033,0.0865,0.0765,...,-31.93,0.00,0.00,0.00,0.0,1.0,0,0,0.0,55
91075,79823597229440303137071,1050491,2013-12-03 20:27:15.107000000,NaN,60,Current,NaN,0.27308,0.2474,0.2374,...,-4.23,0.00,0.00,0.00,0.0,1.0,0,0,0.0,1
63265,3C32336556028569315ECC4,11586,2006-05-05 22:42:27.687000000,B,36,Completed,2009-05-20 00:00:00,0.14709,0.1400,0.1300,...,-83.18,0.00,0.00,0.00,0.0,1.0,0,0,0.0,64
18299,87BD3598612375266C1440F,1102308,2013-12-22 05:58:02.153000000,NaN,36,Current,NaN,0.11563,0.0879,0.0779,...,-8.41,0.00,0.00,0.00,0.0,1.0,0,0,0.0,1
97200,52FE3395168413422DACAEC,177103,2007-07-27 07:14:49.007000000,HR,36,Completed,2010-05-07 00:00:00,0.28999,0.2745,0.2645,...,-39.43,0.00,0.00,0.00,0.0,1.0,2,1,50.0,47
56473,B76C3547076178760FEDF28,588137,2012-05-10 15:29:31.250000000,NaN,36,Current,NaN,0.26681,0.2287,0.2187,...,-42.07,-39.42,0.00,0.00,0.0,1.0,0,0,0.0,31
93866,BC0B35430217162378DE2FE,570633,2012-03-20 14:43:47.573000000,NaN,36,Current,NaN,0.12782,0.0999,0.0899,...,-218.34,0.00,0.00,0.00,0.0,1.0,0,0,0.0,22
66077,73643475179508805FD3B47,445538,2010-02-04 13:51:05.520000000,NaN,36,Completed,2013-02-22 00:00:00,0.37453,0.3500,0.3400,...,-85.75,0.00,0.00,0.00,0.0,1.0,0,0,0.0,76
83809,38FA3408979618869B250C7,262383,2008-01-09 14:00:28.133000000,AA,36,Completed,2008-12-31 00:00:00,0.08684,0.0800,0.0800,...,0.00,0.00,0.00,0.00,0.0,1.0,0,0,0.0,138
100534,3DC23584504406547FDA0C4,857605,2013-08-01 03:15:34.807000000,NaN,36,Current,NaN,0.22712,0.1899,0.1799,...,-38.19,0.00,0.00,0.00,0.0,1.0,0,0,0.0,130
109681,77EC353623891996219691D,549542,2012-01-06 11:03:21.843000000,NaN,36,Completed,2013-10-21 00:00:00,0.18478,0.1559,0.1459,...,-67.15,0.00,0.00,0.00,0.0,1.0,0,0,0.0,16
28039,C33A35953561786168830A2,1005475,2013-11-20 10:37:29.447000000,NaN,60,Current,NaN,0.17685,0.1535,0.1435,...,-36.98,0.00,0.00,0.00,0.0,1.0,0,0,0.0,1
81531,CC893597778379531913C77,1106798,2013-12-30 16:10:07.820000000,NaN,36,Current,NaN,0.16324,0.1274,0.1174,...,-10.39,0.00,0.00,0.00,0.0,1.0,0,0,0.0,1
31864,8E3F3418477260210845407,311320,2008-04-15 16:07:25.660000000,B,36,Completed,2008-05-15 00:00:00,0.19210,0.1775,0.1575,...,-3.82,0.00,0.00,0.00,0.0,1.0,0,0,0.0,202

In [8]:
prosper_loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 81 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   ListingNumber                        113937 non-null  int64
 2   ListingCreationDate                  113937 non-null  object
 3   CreditGrade                          28953 non-null   object
 4   Term                                 113937 non-null  int64
 5   LoanStatus                           113937 non-null  object
 6   ClosedDate                           55089 non-null   object
 7   BorrowerAPR                          113912 non-null  float64
 8   BorrowerRate                         113937 non-null  float64
 9   LenderYield                          113937 non-null  float64
 10  EstimatedEffectiveYield              84853 non-null   float64
 11  EstimatedLoss                        84853 non-null   float64
 12  EstimatedReturn                      84853 non-null   float64
 13  ProsperRating (numeric)              84853 non-null   float64
 14  ProsperRating (Alpha)                84853 non-null   object
 15  ProsperScore                         84853 non-null   float64
 16  ListingCategory (numeric)            113937 non-null  int64
 17  BorrowerState                        108422 non-null  object
 18  Occupation                           110349 non-null  object
 19  EmploymentStatus                     111682 non-null  object
 20  EmploymentStatusDuration             106312 non-null  float64
 21  IsBorrowerHomeowner                  113937 non-null  bool
 22  CurrentlyInGroup                     113937 non-null  bool
 23  GroupKey                             13341 non-null   object
 24  DateCreditPulled                     113937 non-null  object
 25  CreditScoreRangeLower                113346 non-null  float64
 26  CreditScoreRangeUpper                113346 non-null  float64
 27  FirstRecordedCreditLine              113240 non-null  object
 28  CurrentCreditLines                   106333 non-null  float64
 29  OpenCreditLines                      106333 non-null  float64
 30  TotalCreditLinespast7years           113240 non-null  float64
 31  OpenRevolvingAccounts                113937 non-null  int64
 32  OpenRevolvingMonthlyPayment          113937 non-null  float64
 33  InquiriesLast6Months                 113240 non-null  float64
 34  TotalInquiries                       112778 non-null  float64
 35  CurrentDelinquencies                 113240 non-null  float64
 36  AmountDelinquent                     106315 non-null  float64
 37  DelinquenciesLast7Years              112947 non-null  float64
 38  PublicRecordsLast10Years             113240 non-null  float64
 39  PublicRecordsLast12Months            106333 non-null  float64
 40  RevolvingCreditBalance               106333 non-null  float64
 41  BankcardUtilization                  106333 non-null  float64
 42  AvailableBankcardCredit              106393 non-null  float64
 43  TotalTrades                          106393 non-null  float64
 44  TradesNeverDelinquent (percentage)   106393 non-null  float64
 45  TradesOpenedLast6Months              106393 non-null  float64
 46  DebtToIncomeRatio                    105383 non-null  float64
 47  IncomeRange                          113937 non-null  object
 48  IncomeVerifiable                     113937 non-null  bool
 49  StatedMonthlyIncome                  113937 non-null  float64
 50  LoanKey                              113937 non-null  object
 51  TotalProsperLoans                    22085 non-null   float64
 52  TotalProsperPaymentsBilled           22085 non-null   float64
 53  OnTimeProsperPayments                22085 non-null   float64
 54  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 55  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 56  ProsperPrincipalBorrowed             22085 non-null   float64
 57  ProsperPrincipalOutstanding          22085 non-null   float64
 58  ScorexChangeAtTimeOfListing          18928 non-null   float64
 59  LoanCurrentDaysDelinquent            113937 non-null  int64
 60  LoanFirstDefaultedCycleNumber        16952 non-null   float64
 61  LoanMonthsSinceOrigination           113937 non-null  int64
 62  LoanNumber                           113937 non-null  int64
 63  LoanOriginalAmount                   113937 non-null  int64
 64  LoanOriginationDate                  113937 non-null  object
 65  LoanOriginationQuarter               113937 non-null  object
 66  MemberKey                            113937 non-null  object
 67  MonthlyLoanPayment                   113937 non-null  float64
 68  LP_CustomerPayments                  113937 non-null  float64
 69  LP_CustomerPrincipalPayments         113937 non-null  float64
 70  LP_InterestandFees                   113937 non-null  float64
 71  LP_ServiceFees                       113937 non-null  float64
 72  LP_CollectionFees                    113937 non-null  float64
 73  LP_GrossPrincipalLoss                113937 non-null  float64
 74  LP_NetPrincipalLoss                  113937 non-null  float64
 75  LP_NonPrincipalRecoverypayments      113937 non-null  float64
 76  PercentFunded                        113937 non-null  float64
 77  Recommendations                      113937 non-null  int64
 78  InvestmentFromFriendsCount           113937 non-null  int64
 79  InvestmentFromFriendsAmount          113937 non-null  float64
 80  Investors                            113937 non-null  int64
dtypes: bool(3), float64(50), int64(11), object(17)
memory usage: 68.1+ MB

In [ ]:
Initial Variable Selection

ListingNumber                        
ListingCreationDate 
ClosedDate 
BorrowerState                        
Occupation
EmploymentStatus
IsBorrowerHomeowner                  
IncomeRange   
CreditGrade
Investors
LoanStatus  
Term 
LenderYield                          
EstimatedLoss
EstimatedReturn                   
ProsperRating (numeric)
ProsperRating (Alpha) 
ProsperScore                         
TotalProsperLoans
OntimeProsper Payments
ProsperPrincipalBorrowed           
ProsperPrincipalOutstanding

In [12]:
prosper_loan_df = prosper_loan[['ListingNumber',
'ListingCreationDate',
'ClosedDate',
'BorrowerState',
'Occupation',
'EmploymentStatus',
'IsBorrowerHomeowner',                 
'IncomeRange',
'CreditGrade',
'Investors',
'LoanStatus',  
'Term',
'LenderYield',
'EstimatedLoss',
'EstimatedReturn',              
'ProsperRating (numeric)',
'ProsperRating (Alpha)',
'ProsperScore',
'TotalProsperLoans',
'OnTimeProsperPayments',
'ProsperPrincipalBorrowed',
'ProsperPrincipalOutstanding']]
prosper_loan_df

,ListingNumber,ListingCreationDate,ClosedDate,BorrowerState,Occupation,EmploymentStatus,IsBorrowerHomeowner,IncomeRange,CreditGrade,Investors,...,LenderYield,EstimatedLoss,EstimatedReturn,ProsperRating (numeric),ProsperRating (Alpha),ProsperScore,TotalProsperLoans,OnTimeProsperPayments,ProsperPrincipalBorrowed,ProsperPrincipalOutstanding
0,193129,2007-08-26 19:09:29.263000000,2009-08-14 00:00:00,CO,Other,Self-employed,True,"$25,000-49,999",C,258,...,0.1380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1209647,2014-02-27 08:28:07.900000000,NaN,CO,Professional,Employed,False,"$50,000-74,999",NaN,1,...,0.0820,0.0249,0.05470,6.0,A,7.0,NaN,NaN,NaN,NaN
2,81716,2007-01-05 15:00:47.090000000,2009-12-17 00:00:00,GA,Other,Not available,False,Not displayed,HR,41,...,0.2400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,658116,2012-10-22 11:02:35.010000000,NaN,GA,Skilled Labor,Employed,True,"$25,000-49,999",NaN,158,...,0.0874,0.0249,0.06000,6.0,A,9.0,NaN,NaN,NaN,NaN
4,909464,2013-09-14 18:38:39.097000000,NaN,MN,Executive,Employed,True,"$100,000+",NaN,20,...,0.1985,0.0925,0.09066,3.0,D,4.0,1.0,11.0,11000.0,9947.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113932,753087,2013-04-14 05:55:02.663000000,NaN,IL,Food Service Management,Employed,True,"$50,000-74,999",NaN,1,...,0.1764,0.0699,0.09500,4.0,C,5.0,NaN,NaN,NaN,NaN
113933,537216,2011-11-03 20:42:55.333000000,NaN,PA,Professional,Employed,True,"$75,000-99,999",NaN,22,...,0.1010,0.0200,0.08070,6.0,A,8.0,3.0,60.0,33501.0,4815.42
113934,1069178,2013-12-13 05:49:12.703000000,NaN,TX,Other,Employed,True,"$25,000-49,999",NaN,119,...,0.2050,0.1025,0.08578,3.0,D,3.0,NaN,NaN,NaN,NaN
113935,539056,2011-11-14 13:18:26.597000000,2013-08-13 00:00:00,GA,Food Service,Full-time,True,"$25,000-49,999",NaN,274,...,0.2505,0.0850,0.15950,4.0,C,5.0,1.0,16.0,5000.0,3264.37
113936,1140093,2014-01-15 09:27:37.657000000,NaN,NY,Professor,Employed,False,"$50,000-74,999",NaN,1,...,0.0939,0.0299,0.06081,6.0,A,7.0,NaN,NaN,NaN,NaN

In [14]:
prosper_loan_df.nunique()

ListingNumber                  113066
ListingCreationDate            113064
ClosedDate                       2802
BorrowerState                      51
Occupation                         67
EmploymentStatus                    8
IsBorrowerHomeowner                 2
IncomeRange                         8
CreditGrade                         8
Investors                         751
LoanStatus                         12
Term                                3
LenderYield                      2283
EstimatedLoss                     120
EstimatedReturn                  1476
ProsperRating (numeric)             7
ProsperRating (Alpha)               7
ProsperScore                       11
TotalProsperLoans                   9
OnTimeProsperPayments             127
ProsperPrincipalBorrowed         1442
ProsperPrincipalOutstanding     13875
dtype: int64

In [17]:
prosper_loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ListingNumber                113937 non-null  int64
 1   ListingCreationDate          113937 non-null  object
 2   ClosedDate                   55089 non-null   object
 3   BorrowerState                108422 non-null  object
 4   Occupation                   110349 non-null  object
 5   EmploymentStatus             111682 non-null  object
 6   IsBorrowerHomeowner          113937 non-null  bool
 7   IncomeRange                  113937 non-null  object
 8   CreditGrade                  28953 non-null   object
 9   Investors                    113937 non-null  int64
 10  LoanStatus                   113937 non-null  object
 11  Term                         113937 non-null  int64
 12  LenderYield                  113937 non-null  float64
 13  EstimatedLoss                84853 non-null   float64
 14  EstimatedReturn              84853 non-null   float64
 15  ProsperRating (numeric)      84853 non-null   float64
 16  ProsperRating (Alpha)        84853 non-null   object
 17  ProsperScore                 84853 non-null   float64
 18  TotalProsperLoans            22085 non-null   float64
 19  OnTimeProsperPayments        22085 non-null   float64
 20  ProsperPrincipalBorrowed     22085 non-null   float64
 21  ProsperPrincipalOutstanding  22085 non-null   float64
dtypes: bool(1), float64(9), int64(3), object(9)
memory usage: 18.4+ MB

In [18]:
prosper_loan_df.columns.tolist()

['ListingNumber',
 'ListingCreationDate',
 'ClosedDate',
 'BorrowerState',
 'Occupation',
 'EmploymentStatus',
 'IsBorrowerHomeowner',
 'IncomeRange',
 'CreditGrade',
 'Investors',
 'LoanStatus',
 'Term',
 'LenderYield',
 'EstimatedLoss',
 'EstimatedReturn',
 'ProsperRating (numeric)',
 'ProsperRating (Alpha)',
 'ProsperScore',
 'TotalProsperLoans',
 'OnTimeProsperPayments',
 'ProsperPrincipalBorrowed',
 'ProsperPrincipalOutstanding']

In [ ]:
Remove

ProsperRating (numeric) 
Investors
LenderYield
CreditGrade

In [ ]:
['ListingNumber',
 'ListingCreationDate',
 'BorrowerState',
 'Occupation',
 'EmploymentStatus',
 'IsBorrowerHomeowner',
 'IncomeRange',
 'LoanStatus',
 'Term',
 'EstimatedLoss',
 'EstimatedReturn',
 'ProsperRating (Alpha)',
 'ProsperScore',
 'TotalProsperLoans',
 'OnTimeProsperPayments',
 'ProsperPrincipalBorrowed',
 'ProsperPrincipalOutstanding']

In [20]:
prosper_loan_dfb = prosper_loan_df[['ListingNumber',
 'ListingCreationDate',
 'BorrowerState',
 'Occupation',
 'EmploymentStatus',
 'IsBorrowerHomeowner',
 'IncomeRange',
 'LoanStatus',
 'Term',
 'EstimatedLoss',
 'EstimatedReturn',
 'ProsperRating (Alpha)',
 'ProsperScore',
 'TotalProsperLoans',
 'OnTimeProsperPayments',
 'ProsperPrincipalBorrowed',
 'ProsperPrincipalOutstanding']]
prosper_loan_dfb

,ListingNumber,ListingCreationDate,BorrowerState,Occupation,EmploymentStatus,IsBorrowerHomeowner,IncomeRange,LoanStatus,Term,EstimatedLoss,EstimatedReturn,ProsperRating (Alpha),ProsperScore,TotalProsperLoans,OnTimeProsperPayments,ProsperPrincipalBorrowed,ProsperPrincipalOutstanding
0,193129,2007-08-26 19:09:29.263000000,CO,Other,Self-employed,True,"$25,000-49,999",Completed,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1209647,2014-02-27 08:28:07.900000000,CO,Professional,Employed,False,"$50,000-74,999",Current,36,0.0249,0.05470,A,7.0,NaN,NaN,NaN,NaN
2,81716,2007-01-05 15:00:47.090000000,GA,Other,Not available,False,Not displayed,Completed,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,658116,2012-10-22 11:02:35.010000000,GA,Skilled Labor,Employed,True,"$25,000-49,999",Current,36,0.0249,0.06000,A,9.0,NaN,NaN,NaN,NaN
4,909464,2013-09-14 18:38:39.097000000,MN,Executive,Employed,True,"$100,000+",Current,36,0.0925,0.09066,D,4.0,1.0,11.0,11000.0,9947.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113932,753087,2013-04-14 05:55:02.663000000,IL,Food Service Management,Employed,True,"$50,000-74,999",Current,36,0.0699,0.09500,C,5.0,NaN,NaN,NaN,NaN
113933,537216,2011-11-03 20:42:55.333000000,PA,Professional,Employed,True,"$75,000-99,999",FinalPaymentInProgress,36,0.0200,0.08070,A,8.0,3.0,60.0,33501.0,4815.42
113934,1069178,2013-12-13 05:49:12.703000000,TX,Other,Employed,True,"$25,000-49,999",Current,60,0.1025,0.08578,D,3.0,NaN,NaN,NaN,NaN
113935,539056,2011-11-14 13:18:26.597000000,GA,Food Service,Full-time,True,"$25,000-49,999",Completed,60,0.0850,0.15950,C,5.0,1.0,16.0,5000.0,3264.37
113936,1140093,2014-01-15 09:27:37.657000000,NY,Professor,Employed,False,"$50,000-74,999",Current,36,0.0299,0.06081,A,7.0,NaN,NaN,NaN,NaN

In [21]:
prosper_loan_dfb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 17 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ListingNumber                113937 non-null  int64
 1   ListingCreationDate          113937 non-null  object
 2   BorrowerState                108422 non-null  object
 3   Occupation                   110349 non-null  object
 4   EmploymentStatus             111682 non-null  object
 5   IsBorrowerHomeowner          113937 non-null  bool
 6   IncomeRange                  113937 non-null  object
 7   LoanStatus                   113937 non-null  object
 8   Term                         113937 non-null  int64
 9   EstimatedLoss                84853 non-null   float64
 10  EstimatedReturn              84853 non-null   float64
 11  ProsperRating (Alpha)        84853 non-null   object
 12  ProsperScore                 84853 non-null   float64
 13  TotalProsperLoans            22085 non-null   float64
 14  OnTimeProsperPayments        22085 non-null   float64
 15  ProsperPrincipalBorrowed     22085 non-null   float64
 16  ProsperPrincipalOutstanding  22085 non-null   float64
dtypes: bool(1), float64(7), int64(2), object(7)
memory usage: 14.0+ MB

### Ford Gobike

In [3]:
fordgobike = pd.read_csv('201902-fordgobike-tripdata.csv')
fordgobike

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,52185,2019-02-28 17:32:10.1450,2019-03-01 08:01:55.9750,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,13.0,Commercial St at Montgomery St,37.794231,-122.402923,4902,Customer,1984.0,Male,No
1,42521,2019-02-28 18:53:21.7890,2019-03-01 06:42:03.0560,23.0,The Embarcadero at Steuart St,37.791464,-122.391034,81.0,Berry St at 4th St,37.775880,-122.393170,2535,Customer,NaN,NaN,No
2,61854,2019-02-28 12:13:13.2180,2019-03-01 05:24:08.1460,86.0,Market St at Dolores St,37.769305,-122.426826,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,5905,Customer,1972.0,Male,No
3,36490,2019-02-28 17:54:26.0100,2019-03-01 04:02:36.8420,375.0,Grove St at Masonic Ave,37.774836,-122.446546,70.0,Central Ave at Fell St,37.773311,-122.444293,6638,Subscriber,1989.0,Other,No
4,1585,2019-02-28 23:54:18.5490,2019-03-01 00:20:44.0740,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,222.0,10th Ave at E 15th St,37.792714,-122.248780,4898,Subscriber,1974.0,Male,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183407,480,2019-02-01 00:04:49.7240,2019-02-01 00:12:50.0340,27.0,Beale St at Harrison St,37.788059,-122.391865,324.0,Union Square (Powell St at Post St),37.788300,-122.408531,4832,Subscriber,1996.0,Male,No
183408,313,2019-02-01 00:05:34.7440,2019-02-01 00:10:48.5020,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,66.0,3rd St at Townsend St,37.778742,-122.392741,4960,Subscriber,1984.0,Male,No
183409,141,2019-02-01 00:06:05.5490,2019-02-01 00:08:27.2200,278.0,The Alameda at Bush St,37.331932,-121.904888,277.0,Morrison Ave at Julian St,37.333658,-121.908586,3824,Subscriber,1990.0,Male,Yes
183410,139,2019-02-01 00:05:34.3600,2019-02-01 00:07:54.2870,220.0,San Pablo Ave at MLK Jr Way,37.811351,-122.273422,216.0,San Pablo Ave at 27th St,37.817827,-122.275698,5095,Subscriber,1988.0,Male,No
183411,271,2019-02-01 00:00:20.6360,2019-02-01 00:04:52.0580,24.0,Spear St at Folsom St,37.789677,-122.390428,37.0,2nd St at Folsom St,37.785000,-122.395936,1057,Subscriber,1989.0,Male,No

In [24]:
fordgobike.describe()

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,member_birth_year
count,183412.000000,183215.000000,183412.000000,183412.000000,183215.000000,183412.000000,183412.000000,183412.000000,175147.000000
mean,726.078435,138.590427,37.771223,-122.352664,136.249123,37.771427,-122.352250,4472.906375,1984.806437
std,1794.389780,111.778864,0.099581,0.117097,111.515131,0.099490,0.116673,1664.383394,10.116689
min,61.000000,3.000000,37.317298,-122.453704,3.000000,37.317298,-122.453704,11.000000,1878.000000
25%,325.000000,47.000000,37.770083,-122.412408,44.000000,37.770407,-122.411726,3777.000000,1980.000000
50%,514.000000,104.000000,37.780760,-122.398285,100.000000,37.781010,-122.398279,4958.000000,1987.000000
75%,796.000000,239.000000,37.797280,-122.286533,235.000000,37.797320,-122.288045,5502.000000,1992.000000
max,85444.000000,398.000000,37.880222,-121.874119,398.000000,37.880222,-121.874119,6645.000000,2001.000000

In [28]:
fordgobike.start_station_id.nunique()

329

In [29]:
fordgobike.start_station_name.nunique()

329

In [4]:
fordgobike.bike_id.nunique()

4646

In [ ]:
Top 10 stations
Bottom 10 Stations

Which station are out top stations where people rent from the most
Worst performing stations - where people hardly rent from

In [32]:
fordgobike.bike_id.nunique()

4646

In [33]:
fordgobike.user_type.nunique()

2

In [ ]:
user_type

In [ ]:
Univariate
Bivariate
Multivariate

In [34]:
fordgobike.member_gender.nunique()

3

In [35]:
fordgobike.member_gender.value_counts()

Male      130651
Female     40844
Other       3652
Name: member_gender, dtype: int64

In [ ]:
pd.cut

### PISA

In [9]:
pisa_df = pd.read_csv('pisa2012.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf3 in position 542: invalid continuation byte

In [11]:
pisa_df = pd.read_csv('pisa2012.csv', encoding = "ISO-8859-1")

C:\Users\Dipson\AppData\Local\Temp\ipykernel_23364\3124837924.py:1: DtypeWarning: Columns (15,16,17,21,22,23,24,25,26,30,31,36,37,45,65,123,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,475) have mixed types. Specify dtype option on import or set low_memory=False.
  pisa_df = pd.read_csv('pisa2012.csv', encoding = "ISO-8859-1")

In [12]:
pisa_df.head()

,Unnamed: 0,CNT,SUBNATIO,STRATUM,OECD,NC,SCHOOLID,STIDSTD,ST01Q01,ST02Q01,...,W_FSTR75,W_FSTR76,W_FSTR77,W_FSTR78,W_FSTR79,W_FSTR80,WVARSTRR,VAR_UNIT,SENWGT_STU,VER_STU
0,1,Albania,80000,ALB0006,Non-OECD,Albania,1,1,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
1,2,Albania,80000,ALB0006,Non-OECD,Albania,1,2,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
2,3,Albania,80000,ALB0006,Non-OECD,Albania,1,3,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
3,4,Albania,80000,ALB0006,Non-OECD,Albania,1,4,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
4,5,Albania,80000,ALB0006,Non-OECD,Albania,1,5,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13

In [ ]:
Background info

https://www.oecd.org/pisa/aboutpisa/pisa-for-development-background.htm

In [24]:
pisa_df.drop('Unnamed: 0', axis=1, inplace=True)

In [25]:
pisa_df.head()

,CNT,SUBNATIO,STRATUM,OECD,NC,SCHOOLID,STIDSTD,ST01Q01,ST02Q01,ST03Q01,...,W_FSTR75,W_FSTR76,W_FSTR77,W_FSTR78,W_FSTR79,W_FSTR80,WVARSTRR,VAR_UNIT,SENWGT_STU,VER_STU
0,Albania,80000,ALB0006,Non-OECD,Albania,1,1,10,1.0,2,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
1,Albania,80000,ALB0006,Non-OECD,Albania,1,2,10,1.0,2,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
2,Albania,80000,ALB0006,Non-OECD,Albania,1,3,9,1.0,9,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
3,Albania,80000,ALB0006,Non-OECD,Albania,1,4,9,1.0,8,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
4,Albania,80000,ALB0006,Non-OECD,Albania,1,5,9,1.0,10,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13

In [27]:
pisa_df_head = pisa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485490 entries, 0 to 485489
Columns: 635 entries, CNT to VER_STU
dtypes: float64(250), int64(17), object(368)
memory usage: 2.3+ GB

In [30]:
pisa_df_head

### Flights

In [ ]:
bb